<a href="https://colab.research.google.com/github/Begum-Guney/python-data-manipulation-example/blob/main/Data_manipulation_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# ðŸ“š IMPORT LIBRARIES
import pandas as pd
import numpy as np

# 1. READ THE CSV FILE
# Read the extended CSV file into a pandas DataFrame
df = pd.read_csv("Students_Dummy_Data.csv")  # Update the path as needed

In [30]:
# 2. INSPECT THE DATA
print(df.head())            # View the first 5 rows
print(df.dtypes)            # Check data types of all columns
print(df.isnull().sum())    # Count missing values per column

  student_name  math_score  science_score   age          student_info
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
2      Charlie         NaN           87.0  22.0  Charlie,Male,Grade A
3        David        79.0            NaN  24.0    David,Male,Grade C
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
student_name      object
math_score       float64
science_score    float64
age              float64
student_info      object
dtype: object
student_name     1
math_score       2
science_score    3
age              1
student_info     0
dtype: int64

In [31]:
# 3. CLEANING THE DATA

# Fill missing math scores with 0 (e.g. student didn't attend the exam)
df['math_score'] = df['math_score'].fillna(0)

# Fill missing science scores with the column's mean value
df['science_score'] = df['science_score'].fillna(df['science_score'].mean())

# Drop rows where 'age' is missing
df = df.dropna(subset=['age'])

# Convert 'age' column to integer type (if not already)
df.loc[:, 'age'] = df['age'].astype(int)

# Drop rows where 'student_name' is missing
df = df.dropna(subset=['student_name'])

# Round science scores to 1 decimal
df['science_score'] = df['science_score'].round(1)

# Print the cleaned DataFrame
print(df)

  student_name  math_score  science_score   age          student_info
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A
3        David        79.0           85.9  24.0    David,Male,Grade C
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
6        Grace         0.0           88.0  22.0  Grace,Female,Grade C
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A
9          Ian        91.0           89.0  24.0      Ian,Male,Grade B

In [32]:
# 4. CREATE NEW COLUMNS
# Calculate total and average score
df['total_score'] = df['math_score'] + df['science_score']
df['average_score'] = df['total_score'] / 2
print(df)

  student_name  math_score  science_score   age          student_info  \
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A
3        David        79.0           85.9  24.0    David,Male,Grade C
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
6        Grace         0.0           88.0  22.0  Grace,Female,Grade C
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A
9          Ian        91.0           89.0  24.0      Ian,Male,Grade B

   total_score  average_score
0        178.0          89.00
1        177.0          88.50
2         87.0          43.50
3        164.9          82.45
4        165.0          82.50
5        175.9          87.95
6         88.0          44.00
8        163.9          81.95
9        180.0          90.00

In [33]:
# 5. SPLIT A STRING COLUMN INTO MULTIPLE COLUMNS
# Split the 'student_info' column by comma into 'first_name', 'gender', and 'grade'
df[['first_name', 'gender', 'grade']] = df['student_info'].str.split(',', expand=True)
print(df)

  student_name  math_score  science_score   age          student_info  \
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A
3        David        79.0           85.9  24.0    David,Male,Grade C
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
6        Grace         0.0           88.0  22.0  Grace,Female,Grade C
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A
9          Ian        91.0           89.0  24.0      Ian,Male,Grade B

   total_score  average_score first_name  gender    grade
0        178.0          89.00      Alice  Female  Grade A
1        177.0          88.50        Bob    Male  Grade B
2         87.0          43.50    Charlie    Male  Grade A
3        164.9          82.45      David    Male  Grade C
4        165.0          82.50        Eva  Female  Grade B
5        175.9          87.95      Frank    Male  Grade A
6         88.0          44.00      Grace  Female  Grade C
8        163.9          81.95      Helen  Female  Grade A
9        180.0          90.00        Ian    Male  Grade B

In [34]:
# 6. EXTRA ANALYSIS
# a) Filter students who received Grade A
grade_a_students = df[df['grade'] == 'Grade A']
print(grade_a_students)

  student_name  math_score  science_score   age          student_info  \
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A

   total_score  average_score first_name  gender    grade
0        178.0          89.00      Alice  Female  Grade A
2         87.0          43.50    Charlie    Male  Grade A
5        175.9          87.95      Frank    Male  Grade A
8        163.9          81.95      Helen  Female  Grade A

In [35]:
# b) Calculate average score by gender
average_by_gender = df.groupby('gender')['average_score'].mean().reset_index()
print(average_by_gender)

   gender  average_score
0  Female        74.3625
1    Male        78.4800

In [36]:
# c) Sort students by average score in descending order
top_performers = df.sort_values(by='average_score', ascending=False)
print(top_performers)

  student_name  math_score  science_score   age          student_info  \
9          Ian        91.0           89.0  24.0      Ian,Male,Grade B
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
3        David        79.0           85.9  24.0    David,Male,Grade C
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A
6        Grace         0.0           88.0  22.0  Grace,Female,Grade C
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A

   total_score  average_score first_name  gender    grade
9        180.0          90.00        Ian    Male  Grade B
0        178.0          89.00      Alice  Female  Grade A
1        177.0          88.50        Bob    Male  Grade B
5        175.9          87.95      Frank    Male  Grade A
4        165.0          82.50        Eva  Female  Grade B
3        164.9          82.45      David    Male  Grade C
8        163.9          81.95      Helen  Female  Grade A
6         88.0          44.00      Grace  Female  Grade C
2         87.0          43.50    Charlie    Male  Grade A

In [38]:
# 7. SAVE THE FINAL DATA
# Save the cleaned and enriched dataset to a new CSV file
df.to_csv("Students_Final_Data.csv", index=False)

In [39]:
# 8. OPTIONAL: PRINT RESULTS TO CHECK
print("ðŸ“Š Grade A Students:")
print(grade_a_students)

print("\nðŸ“Š Average Score by Gender:")
print(average_by_gender)

print("\nðŸ“Š Top Performers:")
print(top_performers)

ðŸ“Š Grade A Students:
  student_name  math_score  science_score   age          student_info  \
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A

   total_score  average_score first_name  gender    grade
0        178.0          89.00      Alice  Female  Grade A
2         87.0          43.50    Charlie    Male  Grade A
5        175.9          87.95      Frank    Male  Grade A
8        163.9          81.95      Helen  Female  Grade A

ðŸ“Š Average Score by Gender:
   gender  average_score
0  Female        74.3625
1    Male        78.4800

ðŸ“Š Top Performers:
  student_name  math_score  science_score   age          student_info  \
9          Ian        91.0           89.0  24.0      Ian,Male,Grade B
0        Alice        88.0           90.0  23.0  Alice,Female,Grade A
1          Bob        92.0           85.0  25.0      Bob,Male,Grade B
5        Frank        90.0           85.9  26.0    Frank,Male,Grade A
4          Eva        85.0           80.0  21.0    Eva,Female,Grade B
3        David        79.0           85.9  24.0    David,Male,Grade C
8        Helen        78.0           85.9  23.0  Helen,Female,Grade A
6        Grace         0.0           88.0  22.0  Grace,Female,Grade C
2      Charlie         0.0           87.0  22.0  Charlie,Male,Grade A

   total_score  average_score first_name  gender    grade
9        180.0          90.00        Ian    Male  Grade B
0        178.0          89.00      Alice  Female  Grade A
1        177.0          88.50        Bob    Male  Grade B
5        175.9          87.95      Frank    Male  Grade A
4        165.0          82.50        Eva  Female  Grade B
3        164.9          82.45      David    Male  Grade C
8        163.9          81.95      Helen  Female  Grade A
6         88.0          44.00      Grace  Female  Grade C
2         87.0          43.50    Charlie    Male  Grade A